// Font
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

// scss'te renk veya başka değişkenleri root'ta tanımlamaya gerek kalmıyor.
// $primary-color: #F7F7F7;

// scss'te child'ları parent selector'ünün içerisine alabiliyoruz.
// .app {
//   font-family: "Lato", sans-serif;
//   margin: 0;
//   padding: 0;
//   text-align: center;
//   width: 100%;
//   height: 100%;
//   .app h1 {
//     font-size: 50px;
//   }
// }

.app {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  .header-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: rgb(21, 10, 82);
    padding: 0 20px;
    color: white;
    h1 {
      font-size: 50px;
    }
    .nav-list {
      display: flex;
      font-size: 24px;
      gap: 0 20px;
      font-weight: 600;
      list-style-type: none;
      li > a {
        cursor: pointer;
        text-decoration: none;
        color: white;
        padding: 5px 10px;
        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
  }
  .student-card {
    width: 60%;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 600;
    .img-container img {
      width: 50%;
    }
    hr {
      margin: auto;
      width: 60%;
      border: none;
      border-top: 2px solid rgba(0, 0, 0, 0.504);
    }
    .student-info {
      margin: 10px 5px;
      line-height: 40px;
      text-align: left;
    }
    &:hover {
      scale: 1.05;
      transition: 0.5s ease-in-out;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 45%;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    padding: 15px;
    // &:hover {
    //   scale: 1.1;
    //   transition: 0.5s ease-in-out;
    // }
    input {
      width: 60%;
      padding: 10px 15px;
      font-size: 18px;
      margin: 5px auto;
      border-radius: 5px;
      border: none;
      outline-color: orange;
      &:focus {
        scale: 1.05;
        transition: 0.5s ease-in-out;
      }
    }
    button {
      width: 30%;
      padding: 10px 15px;
      margin: 5px auto;
      border-radius: 3px;
      background-color: rgb(248, 91, 1);
      color: white;
      border: none;
      cursor: pointer;
      font-weight: 400;
      font-size: 18px;
      &:hover {
        transition: 0.5s ease-out;
        background-color: rgb(21, 10, 82);
        color: #fff;
      }
    }
  }
  .warning {
    color: rgb(190, 3, 3);
    font-size: 18px;
  }
  .red-outline {
    border: 2px solid red !important;
  }
  .student-area {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .search-bar {
      grid-column: 1 / 5;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      h1 {
        grid-column: 3/4;
        font-size: 36px;
      }
      .search-input {
        grid-column: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        width: 90%;
        border: 2px solid rgba(0, 0, 0, 0.336);
        border-radius: 25px;
        padding: 10px 15px;
        transition: border-color 0.4s ease-in-out;
        &:hover {
          border-color: black;
          input {
            &::placeholder {
              transition: 0.5s ease-in-out;
              opacity: 0.6;
            }
          }
          svg {
            opacity: 0.6;
          }
        }
        input {
          font-size: 18px;
          background-color: inherit;
          width: 100%;
          border: none;
          &::placeholder {
            color: black;
            opacity: 0.4;
          }
          &:focus {
            outline: none;
            &::placeholder {
              transition: 0.5s ease-in-out;
              opacity: 0.8;
            }
          }
        }
        svg {
          width: 10%;
          opacity: 0.4;
        }
      }
    }
  }
  span {
    font-weight: 400;
  }
}
